<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <h4 class="page-title">Master</h4>
                            </li>
                            <li class="breadcrumb-item bcrumb-1">
                                <a href="../../Dashboard">
                                    <i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item active">Source</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="row clearfix">
                <div class="col-12">
    
                   
    
                    <div class="card">
                        <form #myform="ngForm">
                            <div>
                                <!-- header -->
                                <h4 class="header d-flex justify-content-between">
                        
                                    {{cardTitle}}   
                                      
                                    <div class="col-12 text-right">
                                        <button type="button" class="btn btn-raised btn-info btn-min-width mr-1 mb-1" [hidden]="sourceview"
                                            (click)="list();"><i class="ft-package"></i>
                                            List</button>
                        
                                        <button type="button" class="btn btn-raised btn-info btn-min-width mr-1 mb-1"
                                            [hidden]="!sourceview" (click)="backlist();"><i class="ft-package"></i>
                                            Create</button>
                        
                                    </div>                             
                                
                                </h4>
                                <!-- header end -->
                                <div class="body">
                                   <div *ngIf="!sourceview">              
                                    <div class="row">                    
                                        <div class="form-group col-md-4 mb-2">                            
                                            <label for="userinput1">Source Name
                                            </label>
                                             <input type="text" [(ngModel)]="objsource.source_name"
                                               name="source_name"
                                                id="source_name" tabindex="1" class="form-control form-control-sm" required="required"
                                                data-validation-required-message="This Source name is required">
                                        </div>
                                        <div class="form-group col-md-4 mb-2">                            
                                            <label for="userinput1">Source Extension
                                            </label>
                                            <select class="custom-select form-control" [(ngModel)]="objsource.source_extension" id="source_extension" name="source_extension"
                                            required="required" tabindex="2" data-validation-required-message="This Source Extension is  required">
                                            <option value="">Select</option>                                             
                                                <option value=".csv">.csv</option>
                                                <option value=".xlsx">.xlsx</option>
                                                <option value="xlsb">xlsb</option>                                                
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4 mb-2">                            
                                            <label for="userinput1">Sheet Name
                                            </label>
                                             <input type="text" [(ngModel)]="objsource.sheet_name"
                                               name="sheet_name"
                                                id="sheet_name" tabindex="3" class="form-control form-control-sm" required="required"
                                                data-validation-required-message="This Sheet name is required">
                                        </div>
                                        <div class="form-group col-md-4 mb-2">                            
                                            <label for="userinput1">Column Start Row
                                            </label>
                                             <input type="number" [(ngModel)]="objsource.column_start_row"
                                               name="column_start_row"
                                                id="column_start_row" tabindex="4" class="form-control form-control-sm" required="required"
                                                data-validation-required-message="This Column Start Row is required">
                                        </div>
                                        <div class="form-group col-md-4 mb-2">                            
                                            <label for="userinput1">Password Protected
                                            </label>
                                            <select class="custom-select form-control" [(ngModel)]="objsource.password_protected" (change)="passreq(objsource.password_protected)" id="password_protected" name="password_protected"
                                            required="required" tabindex="5" data-validation-required-message="This Password Protected is required">
                                            <option value="">Select</option>                                               
                                            <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                               
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4 mb-2" *ngIf="password">                            
                                            <label for="userinput1">Password
                                            </label>
                                             <input type="text" [(ngModel)]="objsource.source_password"
                                               name="source_password"
                                                id="source_password" tabindex="6"  class="form-control form-control-sm" required="required"
                                                data-validation-required-message="This Password is required">
                                        </div>
                                     
                                        </div>
                                    
                                    <div class="row">
                                        <div class=" col-12 text-right">
                                            <button type="button" (click)="cancelEdit()" [hidden]="!editBtnshow"
                                                class="btn btn-outline-dark mr-1 btn-min-width mb-1">Cancel</button>
                                            
                                            <button type="submit" class="btn btn-raised btn-info btn-min-width mr-1 " [disabled]="!myform.valid"
                                                (click)="savesourcedetails()"><i
                                                    class="fa fa-check-square-o"></i> Save</button>                    
                                        </div>    
                                    </div>
                                </div>
                                </div>
                            </div>
                        
                     
                        </form>
                        
                   
                       <div *ngIf="sourceview">
                        <table id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100 mb-6">
                            <thead>
                                <tr class="bg-light-gray2">
                                    <th id="fontsize">Source Name </th>                        
                                    <th id="fontsize">Source Extension</th>
                                    <th id="fontsize">Sheet Name</th>
                                    <th id="fontsize">Column Start Row</th>
                                    <th id="fontsize">Password Protected</th>       
                                    <th id="fontsize" style="text-align: center;">Edit</th>                                   

                                  
                                </tr>
                            </thead>
        
                            <tbody>             
        
                                <ng-container *ngFor="let doc of sourcelist">
                                    <tr>
                                        <td>{{doc.source_name}}</td>                        
                                        <td>{{doc.source_extension}}</td>
                                        <td>{{doc.sheet_name}}</td>
                                        <td>{{doc.column_start_row}}</td>
                                        <td>{{doc.password_protected}}</td>                                                                                                                                                              
                                        <td (click)="Editsourcedetail(doc)">
                                            <i class=" fa fa-pencil font-medium-3 mr-2 text-info"></i>
                                        </td>
                                       
                                    </tr>
                                </ng-container>
        
                            </tbody>
                        </table>
                       </div>                         
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    