
.bg-img {
    background-image: url("../../assets/images/gallery/full/6.jpg");
    position: relative;
    /* border-bottom: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    display: flow-root;
    z-index: 0;
}
/* .auth-2-outer{
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: auto;
} */