<div class="wrapper">

   
    <app-header></app-header>
    
    <!-- Left side column. contains the logo and sidebar -->
  <app-menu></app-menu>
  
    <!-- Content Wrapper. Contains page content -->
   <app-body></app-body>
    <!-- /.content-wrapper -->
   <app-footer></app-footer>
  
    <!-- Control Sidebar -->
    <app-control-sidebar></app-control-sidebar>
    <!-- /.control-sidebar -->
    
    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
    
  </div>