<div class="content-wrapper">
    <!-- Content Header (Page header) -->	  
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto w-p50">
                <h3 class="page-title">Analytics</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Control</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="right-title text-right w-170">
                <span class="subheader_daterange font-weight-600" id="dashboard_daterangepicker">
                    <span class="subheader_daterange-label">
                        <span class="subheader_daterange-title"></span>
                        <span class="subheader_daterange-date text-primary"></span>
                    </span>
                    <a href="#" class="btn btn-sm btn-primary">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        
      <div class="row">
          
        <div class="col-md-12 col-lg-4">
            <div class="box box-body bg-success">
              <div class="flexbox">
                <div id="linechart"></div>
                <div class="text-right">
                  <span>New Users</span><br>
                  <span>
                    <i class="ion-ios-arrow-up text-white"></i>
                    <span class="font-size-18 ml-1">589</span>
                  </span>
                </div>
              </div>
            </div>
        </div>  
          
        <div class="col-md-12 col-lg-4">
            <div class="box box-body bg-warning">
              <div class="flexbox">
                <div id="barchart"></div>
                <div class="text-right">
                  <span>Yearly Sale</span><br>
                  <span>
                    <i class="ion-ios-arrow-up text-white"></i>
                    <span class="font-size-18 ml-1">%90</span>
                  </span>
                </div>
              </div>
            </div>
        </div>
          
        <div class="col-md-12 col-lg-4">
            <div class="box box-body bg-primary">
              <div class="flexbox">
                <div id="discretechart"></div>
                <div class="text-right">
                  <span>Impressions</span><br>
                  <span>
                    <i class="ion-ios-arrow-up text-white"></i>
                    <span class="font-size-18 ml-1">%90</span>
                  </span>
                </div>
              </div>
            </div>
        </div>
          
        <div class="col-12 col-lg-7">
            <div class="row">
              <div class="col-md-6 col-12">
                <div class="box">
                  <div class="box-body">
                      <div class="media align-items-center p-0">
                          <h3 class="mx-0 mb-5 font-weight-500">Daily Sales</h3>
                      </div>
                      <div class="flexbox align-items-center mt-5">
                        <div>
                          <h4 class="no-margin"><span class="text-primary">+$17,800</span></h4>
                        </div>
                        <div class="text-right">
                          <h4 class="no-margin"><span class="text-success">+1.35%</span></h4>
                        </div>
                      </div>
                </div>
                <div class="box-footer p-0 no-border">
                    <div class="chart"><canvas id="chartjs1" class="h-80"></canvas></div>
                </div>
               </div>
              </div>

              <div class="col-md-6 col-12">
                    <div class="box">
                      <div class="box-body">
                          <div class="media align-items-center p-0">
                              <h3 class="mx-0 mb-5 font-weight-500">Member Profit</h3>
                          </div>
                          <div class="flexbox align-items-center mt-5">
                            <div>
                              <h4 class="no-margin"><span class="text-success">+$17,800</span></h4>
                            </div>
                            <div class="text-right">
                              <h4 class="no-margin"><span class="text-danger">-1.35%</span></h4>
                            </div>
                          </div>
                    </div>
                    <div class="box-footer p-0 no-border">
                        <div class="chart"><canvas id="chartjs2" class="h-80"></canvas></div>
                    </div>
                 </div>
              </div>

              <div class="col-md-6 col-12">
                    <div class="box">
                      <div class="box-body">
                          <div class="media align-items-center p-0">
                              <h3 class="mx-0 mb-5 font-weight-500">Issue Reports</h3>
                          </div>
                          <div class="flexbox align-items-center mt-5">
                            <div>
                              <h4 class="no-margin"><span class="text-warning">-27,497</span></h4>
                            </div>
                            <div class="text-right">
                              <h4 class="no-margin"><span class="text-danger">-1.35%</span></h4>
                            </div>
                          </div>
                    </div>
                    <div class="box-footer p-0 no-border">
                        <div class="chart"><canvas id="chartjs3" class="h-80"></canvas></div>
                    </div>
                 </div>
              </div>

              <div class="col-md-6 col-12">
                  <div class="box">
                      <div class="box-body">
                          <div class="media align-items-center p-0">
                              <h3 class="mx-0 mb-5 font-weight-500">Orders</h3>
                          </div>
                          <div class="flexbox align-items-center mt-5">
                            <div>
                              <h4 class="no-margin"><span class="text-info">17,800</span></h4>
                            </div>
                            <div class="text-right">
                              <h4 class="no-margin"><span class="text-success">+1.35%</span></h4>
                            </div>
                          </div>
                      </div>
                    <div class="box-footer p-0 no-border">
                        <div class="chart"><canvas id="chartjs4" class="h-80"></canvas></div>
                    </div>
                 </div>
              </div>

              <div class="col-12">
                  <!-- interactive chart -->
                  <div class="box">
                    <div class="box-header with-border">
                      <h4 class="box-title">User Statistics</h4>
                    </div>
                    <div class="box-body">
                      <div id="interactive" style="height: 300px;"></div>
                    </div>
                    <!-- /.box-body-->
                  </div>
                  <!-- /.box -->
             </div>
            <!-- /.col -->
            </div>
        </div> 
          
        <div class="col-lg-5 col-12">
          <!-- Chart -->
          <div class="box">
            <div class="box-header with-border">
              <h4 class="box-title">Yeary Sales</h4>
                <ul class="box-controls pull-right">
                  <li><a class="box-btn-close" href="#"></a></li>
                  <li><a class="box-btn-slide" href="#"></a></li>	
                  <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
              <div id="morris-area-chart" style="height: 340px;"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <!-- Chart -->
          <div class="box">
            <div class="box-header with-border">
              <h4 class="box-title">Social Ads Campaigns</h4>
                <ul class="box-controls pull-right">
                  <li><a class="box-btn-close" href="#"></a></li>
                  <li><a class="box-btn-slide" href="#"></a></li>	
                  <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body pt-0">
                <div id="e_chart_2" class="" style="height:300px;"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
          
        <div class="col-lg-8 col-12">
            <div class="box">
                <div class="box-header with-border">
                  <h4 class="box-title">Sales</h4>
                    <ul class="box-controls pull-right">
                      <li><a class="box-btn-close" href="#"></a></li>
                      <li><a class="box-btn-slide" href="#"></a></li>	
                      <li><a class="box-btn-fullscreen" href="#"></a></li>
                    </ul>
                </div>
                <div class="box-body">
                    <div class="chart">						
                        <div id="chartdiv2" style="height:500px;"></div>
                    </div>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->

          </div>
          
        <div class="col-12 col-lg-4">
          <!-- Default box -->
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">USA</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="usa" style="height: 495px"></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
          
        <div class="col-xl-4 col-lg-6">
          <div class="box box-inverse bg-google">
            <div class="box-body">
              <h3 class="text-white mt-0">Vivamus condimentum erat non turpis placerat, at volutpat metus commodo.</h3>
              <small>14 April, 2018 via web</small>
              <div class="mt-20">
                <i class="fa fa-google-plus font-size-26"></i>
                <ul class="list-inline float-right mb-0">
                  <li class="list-inline-item">
                    <i class="fa fa-thumbs-o-up"></i> 845
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-share"></i> 956
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </div>

      <div class="col-xl-4 col-lg-6">
          <div class="box box-inverse bg-twitter">
            <div class="box-body">
              <h3 class="text-white mt-0">Vivamus condimentum erat non turpis placerat, at volutpat metus commodo.</h3>
              <small>14 April, 2018 via web</small>
              <div class="mt-20">
                <i class="fa fa-twitter font-size-26"></i>
                <ul class="list-inline float-right mb-0">
                  <li class="list-inline-item">
                    <i class="fa fa-heart"></i> 845
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-thumbs-up"></i> 956
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </div>

      <div class="col-xl-4 col-lg-6">
          <div class="box box-inverse bg-facebook">
            <div class="box-body">
              <h3 class="text-white mt-0">Vivamus condimentum erat non turpis placerat, at volutpat metus commodo.</h3>
              <small>14 April, 2018 via web</small>
              <div class="mt-20">
                <i class="fa fa-facebook font-size-26"></i>
                <ul class="list-inline float-right mb-0">
                  <li class="list-inline-item">
                    <i class="fa fa-thumbs-o-up"></i> 845
                  </li>
                  <li class="list-inline-item">
                    <i class="fa fa-star"></i> 956
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
          
      </div>
                  
    </section>
    <!-- /.content -->
  </div>