<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <h4 class="page-title">Doc Process</h4>
                            </li>
                            <li class="breadcrumb-item bcrumb-1">
                                <a href="../../Dashboard">
                                    <i class="fa fa-home"></i> Home</a>
                            </li>
                            <li class="breadcrumb-item active">Consolidation Doc Process</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="row clearfix">
                <div class="col-12">
    
                   
    
                    <div class="card">
                        <form #myform="ngForm">
                            <div>
                                <!-- header -->
                                <h4 class="header d-flex justify-content-between">
                        
                                    {{cardTitle}}                                  
                                
                                </h4>
                                <!-- header end -->
                                <div class="body">
                                                 
                                   
                                        <table id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                            <thead>
                                                <tr class="bg-light-gray2">
                                                    <th id="fontsize">Source</th>                        
                                                    <th id="fontsize">File name</th>
                                                    <th id="fontsize">Size</th>
                                                    <th id="fontsize">Upload Date</th>
                                                    <th id="fontsize">File Rowcount</th>
                                                    <th id="fontsize">Upload status</th>
                                                    <th>Action</th>
                                                    <!-- <th id="fontsize" style="text-align: center;">Edit</th> -->
                                                    <!-- <th id="fontsize" style="text-align: center;">Delete</th> -->
                                                </tr>
                                            </thead>
                        
                                            <tbody>             
                        
                                                <ng-container *ngFor="let doc of consolidationlist">
                                                    <tr>
                                                        <td>{{doc.source_name}}</td>
                                                        <td>{{doc.file_name}}</td>
                                                        <td>{{doc.file_size_bytes}}</td>
                                                        <td>{{doc.upload_date}}</td>
                                                        <td>{{doc.file_row_count}}</td>
                                                        <td>{{doc.upload_status}}</td>          
                                                        <td>
                                                            <button class="btn btn-sm btn-outline-primary"   (click)="Processconsolidation(doc)">Process</button>
                                                        </td>                                                                    
                                                       
                                                    </tr>
                                                </ng-container>
                        
                                            </tbody>
                                        </table>
                        
                                   
                                </div>
                            </div>
                        
                     
                        </form>
                        
                   
                        
                  
                        
                     
    
    
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
<!-- loader -->
    
    <ngx-ui-loader></ngx-ui-loader>